node_modules
finance_module_pack/
shared_services_module_pack/
.env
apps/api/.env
apps/api/dist/
apps/api/scripts/erp/config.json
apps/api/scripts/erp/output/
apps/api/scripts/warehouse/output/
apps/api/scripts/icg/output/
.logs/
.vscode/
apps/api/scripts/warehouse/config.json
Agreements/
sales-2025.csv
sales-tot-2025.csv
perfumes_with_grouped_facets (1).csv
